body {
    margin-top: 10px;
}

.pos-center {
    text-align: center;
}

.container {
    margin: 10px 10px;
}

.container-color {
    background-color: #f8f8f8;
}


.data-loading {
   border: 5px solid #f3f3f3;
   border-radius: 50%;
   border-top: 5px solid #555;
   width: 80px;
   height: 80px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
